<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/bootstrap/bootstrap.css') }}">
        {% endblock %}
    </head>
    <body>
        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
        {{ app.request.uri }}
        {% block javascripts %}
            <script src="{{ asset('build/bootstrap/bootstrap.js') }}"></script>
        {% endblock %}
    </body>
</html>
